


::-webkit-scrollbar {
    width: 1px;
}

.feh-content h3 {
    font-size: 15px;
}

.feh-content img {
    width: 700px;
    height: 600px;
}

/* GENERAL STYLING */

#totalHero {
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    overflow: hidden; /* Hide overflow for the container */
    padding-top: 5px;
}

.leftSide {
    width: 65%;
    overflow-y: scroll;
    height: 100%;
    padding: 0;
    margin: 0;
}



/* NAVBAR */

.navbar {
  background-color: #2da4aa!important;
}

.nav-link {
    font-size: 18px;
}

.nav-link:hover {
    color: whitesmoke!important;
    transition: 1s ease;
}

.collapse {
  padding-top: 10px;
  padding-left: 30px;
}


/* SELECTOR SEARCH ENGINE */

#selector {
    display: flex;
    justify-content: space-between; /* Horizontally align items */
    align-items: center; /* Vertically align items */
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2da4aa;
}

#selector * {
    box-sizing: border-box; /* Include padding and border within width */
    padding: 0;
    margin-top: 10px;
}


#selector button {
    color: #fff;
    cursor: pointer;
    width: 100%;
}

#birthday {
    width: 100%;
    border: 1px solid rgb(206, 212, 218);
    padding: .3rem;
    border-radius: 10px;
}

.form-group {
    display: flex;
    margin-bottom: 10px!important;
}

.form-group a {
  display: flex;
  align-items: center;
  background-color: #fb9322;
  color: whitesmoke;
  border: 1px solid black ;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

#searchIcon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 8px;
  margin-right: 5px;
}

.form-group a:hover {
  color: whitesmoke;
  background-color: #fb9322;
}

.btn {
    height: 40px;
    background-color: #fb9322;
    border-color: white;
}

.btn:hover {
    background-color: #fb9322;
}

.ri-earth-line {
    color: whitesmoke;
    font-size: 25px;
    width: 40px;
    height: 40px;
}

.ri-team-line {
    color: whitesmoke;
    font-size: 25px;
    width: 40px;
    height: 40px;
}

.ri-calendar-event-line {
  color: whitesmoke;
  font-size: 25px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}


/* CARROUSEL IMAGES AND CARDS */

#carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 100%;
}

#carouselExampleFade {
    display: block;
    width: 470px;
    height: 470px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .3);
}

#carouselExampleFade em {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    padding-top: 0!important;
    padding-left: 10px;
}

#carrousel h2 {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}

.carousel img {
    width: 470px;
    height: 350px;
}


.cardLogos {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
}

.cardLogos i {
  margin-left: 15px;
}



/* MAP SIDE */

#map {
    height: 100%;
}

#mapSide {
    flex: 1; /* Allow the content to take available space */
    position: relative; /* So the absolute position works as expected */
}

#mapSide #map {
    width: 100%; /* Adjust the map's width */
    height: 100vh; /* Make sure the map takes full height */
}


/* SINGLE PAGE */

  #titleSingle {
    margin-left: 35px;
    margin-top: 15px;
  }

  #titleSingle h2 {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    color: #2da4aa;
  }

  #titleSingle em {
    font-weight: 300;
  }

  #detailsSingle {
    margin-left: 15px;
  }

  #detailsSingle h3 {
    font-size: 18px;
    margin-left: 20px;
  }

  .detailsLogoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .detailsText p {
    padding-left: 15px;
  }

  .detailsLogo {
    display: flex;
    padding-top: 10px;
  }

  .detailsLogo:hover {
    color: #fb9322;
    transition: .4s;
  }

  .detailsLogo p {
    font-size: 22px;
    padding-right: 15px;
  }


  .detailsLogo i {
    color: black;
    font-size: 25px;
    padding-right: 20px;
  }




















  .detailsButton {
    margin-top: 35px;
    margin-left: 15px;
    display: flex;
  }

  .detailsButton div {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 15px;
  }

  .detailsButton p {
    font-size: 18px;
    padding-right: 15px;
    padding-top: 10px;
  }

  .detailsButton i {
    color: black;
    font-size: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .detailsButton div:hover {
    background-color: #2da4aa;
    color: whitesmoke;
    transition: .4s;
  }
  
  #location {
    margin-left: 35px;
    margin-top: 35px;
  }

  #register {
    text-align: center;
    margin-bottom: 55px;
  }


@media only screen and (max-width: 768px) {
    
    #map {
        visibility: hidden;
    }

    .leftSide {
        width: 100%;
    }

    .form-group a {
      width: 100%;
    }


    #selector {
        display: block;
        padding: 10px;
        margin: 10px;
        background-color: #2da4aa;
        border-radius: 10px;
    }

    #selector .btn {
        margin-top: 20px;
    }

    #carouselExampleFade {
        width: 400px;
        height: 470px;
    }

    .nav-link:hover {
        color: #fb9322!important;
    }

    .carousel img {
        width: 375px;
        height: 350px;
    }


    .ri-calendar-event-line {
      margin-right: 10px;
    }
    
}