#carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: red;
}

.carousel img{
    height: 300px;
    width: 300px;
}

#selector {
    display: flex;
    justify-content: start;
    height: 150px;
    width: 500px;
    margin-top: 15px;
    background-color: aqua;
}

#leftSide {
    height: 80vh;
    background-color: black;
}

#map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.feh-content h3 {
    font-size: 15px;
}

.feh-content img {
    width: 150px;
    height: 150px;
}