#carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: red;
}

.carousel img{
    height: 300px;
    width: 300px;
}

#selector {
    display: flex;
    justify-content: start;
    height: 50px;
    width: 500px;
    margin-top: 15px;
}


#map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.feh-content h3 {
    font-size: 15px;
}

.feh-content img {
    width: 150px;
    height: 150px;
}

#totalHero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
}

.leftSide {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
}

#mapSide {
    height: 600px;
    width: 600px;
}

.btn {
    width: 100px;
    height: 50px;
    margin-top: 15px;
    margin-left: 100px;
}

#selector {
    margin-left: 50px;
}

#carrousel h2 {
    font-size: 25px;
}