::-webkit-scrollbar {
    width: 1px;
}

.feh-content h3 {
    font-size: 15px;
}

.feh-content img {
    width: 150px;
    height: 150px;
}

/* GENERAL STYLING */

#totalHero {
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    overflow: hidden; /* Hide overflow for the container */
}

.leftSide {
    width: 65%;
    overflow-y: scroll;
    height: 100%;
    padding: 0;
    margin: 0;
}



/* NAVBAR */


.nav-link {
    font-size: 18px;
}

.nav-link:hover {
    color: #2da4aa!important;
}


/* SELECTOR SEARCH ENGINE */

#selector {
    display: flex;
    justify-content: space-between; /* Horizontally align items */
    align-items: center; /* Vertically align items */
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2da4aa;
}

#selector * {
    box-sizing: border-box; /* Include padding and border within width */
    padding: 0;
    margin-top: 10px;
}


#selector button {
    color: #fff;
    cursor: pointer;
    width: 100%;
}

#birthday {
    width: 100%;
    border: 1px solid rgb(206, 212, 218);
    padding: .3rem;
    border-radius: 10px;
}

.form-group {
    display: flex;
    margin-bottom: 10px!important;
}

.btn {
    height: 40px;
    background-color: #fb9322;
    border-color: white;
}

.btn:hover {
    background-color: #fb9322;
}

.ri-earth-line {
    color: whitesmoke;
    font-size: 25px;
    width: 40px;
    height: 40px;
}

.ri-team-line {
    color: whitesmoke;
    font-size: 25px;
    width: 40px;
    height: 40px;
}


/* CARROUSEL IMAGES AND CARDS */

#carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 100%;
}

#carouselExampleFade {
    display: block;
    width: 470px;
    height: 470px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .3);
}

#carouselExampleFade em {
    font-size: 12px;
    padding-top: 0!important;
    padding-left: 10px;
}

#carrousel h2 {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}

.carousel img {
    width: 470px;
    height: 350px;
}


.cardLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}



/* MAP SIDE */

#map {
    height: 100%;
}

#mapSide {
    flex: 1; /* Allow the content to take available space */
    position: relative; /* So the absolute position works as expected */
}

#mapSide #map {
    width: 100%; /* Adjust the map's width */
    height: 100vh; /* Make sure the map takes full height */
}




@media only screen and (max-width: 989px) and (min-width: 770px) {
    
}



@media only screen and (max-width: 768px) {
    
    #map {
        visibility: hidden;
    }

    .leftSide {
        width: 100%;
    }

    .btn {
        display: block;
        width: 98%;
    }

    #selector {
        display: block;
        padding: 10px;
        margin: 10px;
        background-color: #2da4aa;
        border-radius: 10px;
    }

    #selector .btn {
        margin-top: 20px;
    }

    #carouselExampleFade {
        width: 400px;
        height: 400px;
    }

    .nav-link:hover {
        color: #fb9322!important;
    }

    .carousel img {
        width: 375px;
        height: 350px;
    }
    
    
}